@CHARSET "GBK";
body{
    font:12px Arial,Verdana;
}
ul{
    margin:0px;
    padding:0px;
    list-style-type:none;
}
#it{
    margin:0px;
    width:80px;
    height:25px;
    color:white;
    text-align:center;
    line-height:25px;
    cursor:pointer;
    background:black;
    border:1px solid white;
}
#ul li{
    width:80px;
    height:25px;
    color:white;
    text-align:center;
    line-height:25px;
    cursor:pointer;
    background:black;
    border:1px solid white;
}
.highLight{
    width:80px;
    height:25px;
    background:white;
    border:1px solid blue;
    color:black;
}